<html lang="en">
<head>
  <title>i18n-light | Example</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <nav>
    <div class="logo">i18n-light</div>
    <div class="auth">
      <span><%=i18n.__('home.loggedin', 'Tom') %>, </span>
      <span>you have <%=i18n.__n('home.messages', 2) %></span>
    </div>
  </nav>
</body>
</html>